.buttonFilter{
  border-radius: .25rem !important;
  // border-color: #fff;
  // border-width: .25rem;
}
.ranking{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  background: rgb(0, 0, 0);
  display: block;
}
