<!-- SECTION sticky navigation bar -->

<nav class="navbar  sticky-top navbar-expand-sm navbar-dark bg-dark">
  <img src="../assets/logo_svg.svg" width="35" height="35" class="d-inline-block align-top mr-3" alt="">
  <a class="navbar-brand" routerLink="/" href="#">Accessibility-Tool</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link active" routerLink="/" href="#">Home<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" [routerLink]="['websites/new']" href="#">Neue Website<span
          class="sr-only">(current)</span></a>
    </div>
  </div>
</nav>

<!-- !SECTION -->

<!-- NOTE show the right content -->
<div class="container mb-5">
  <div class="page-header">
    <br>
  </div>

  <router-outlet></router-outlet>

</div>
