<!-- SECTION Page new site and update form -->

<h1 class="mb-4 mt-2">Neue Website anlegen</h1>

<!-- TODO CSV Import for website -->

<!-- ANCHOR Websitename and Home-URL -->
<form [formGroup]="websiteForm">
  <div class="form-group row mb-1 col-md-12">
    <label for="inputEmail3" class="col-sm-3 col-form-label">Webseiten Name:</label>
    <div class="col-sm-9">
      <textarea type="text" class="form-control" id="inputName" placeholder="Name" formControlName="name"></textarea>
    </div>
  </div>
  <div class="form-group row mt-4 mb-4 col-md-12">
    <label for="inputPassword3" class="col-sm-3 col-form-label">Home-URL:</label>
    <div class="col-sm-9">
      <textarea type="text" class="form-control urls" id="inputHomeUrl" placeholder="URL"
        formControlName="home_url"></textarea>
    </div>
  </div>

  <!-- ANCHOR Websites to check form-->
  <div formArrayName="checks" class="row form-group col-md-12">
    <label for="input" class="col-sm-3 mr-2 col-form-label">Check Name + URL:</label>
    <div class="col-sm-8">
      <div *ngFor="let _ of checks.controls; index as i">
        <ng-container [formGroupName]="i">
          <div class="row mb-3">
            <textarea type="text" class="form-control col-md-9  ml-2 mr-2" placeholder="Name"
              formControlName="name"></textarea>
            <textarea type="text" class="form-control urls col-md-9 ml-2 mr-2 mt-1" placeholder="URL"
              formControlName="url"></textarea>
            <span *ngIf="checks.controls.length > 1" class="btn-lg col-md-1 mb-2" (click)="removeChecks(i)">
              <mat-icon aria-hidden="false" aria-label="Example home icon">remove_circle_outline</mat-icon>
            </span>
            <span *ngIf="checks.controls.length == 1 || checks.controls.length == i + 1" class="btn-lg col-md-1 mb-2"
              (click)="addChecks()">
              <mat-icon aria-hidden="false" aria-label="Example home icon">add_circle_outline</mat-icon>
            </span>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <!-- ANCHOR Checkbox category for the website-->
  <fieldset class="form-group ">
    <div class="form-group row col-md-12">
      <div class="col-sm-3">Kategorien:</div>
      <div class="col-sm-9">
        <div *ngFor="let c of cats; let i = index" class="form-check">
          <input class="form-check-input" type="checkbox" id="category" [value]="c.id"
            (change)="websiteCat(c.id ,$event)" [checked]="ifChecked(c.id)">
          <label class="form-check-label" for="gridCheck1">
            {{c.name}}
          </label>
        </div>
        <div class="form-check mt-2">
        </div>

        <!-- SECTION Modal to update categories -->

<div class="modal fade" id="categoryModal" tabindex="-1" role="dialog" aria-labelledby="category Modal"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title" id="exampleModalLongTitle">Kategorien bearbeiten</h3>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">

      <!-- FIXME If all panel closed show input, too -->
      <mat-accordion *ngIf="cats">
        <mat-expansion-panel *ngFor="let c of cats; let i = index" [expanded]="step === i"
        (opened)="setStep(i)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{i + 1}}. {{ c.name }}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="col-md-12 mt-2">
            <input type="text" [ngModelOptions]="{standalone: true}" class="form-control-sm" name="category"
                placeholder="Kategorie" [(ngModel)]="c.name">
          </div>
          <div class="row w-100 mt-3 mr-1 ml-2">
            <button type="button" (click)="updateCat(c.id)" class="btn btn-info mr-auto ml-2">ändern</button>
            <button type="button"  (click)="deleteCat(c.id)" class="btn btn-danger mr-3 ml-auto">löschen</button>

          </div>

        </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
          Neue Kategorie
          </mat-panel-title>
        </mat-expansion-panel-header>
        <input type="text" class="form-control-sm " name="category" placeholder="Neu Kategorie" [(ngModel)]="newCatname"
          [ngModelOptions]="{standalone: true}">
          <button class="btn btn-outline-info btn-sm ml-3 form_cat"
          (click)="createCat()">Erstellen</button>
        </mat-expansion-panel>
      </mat-accordion>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
    </div>
  </div>
</div>
</div>

<!-- !SECTION -->

        <!-- ANCHOR new category button-->
        <!--  -->
        <button class="btn btn-outline-info btn-sm form_cat"
        data-toggle="modal" data-target="#categoryModal" >Kategorien bearbeiten</button>
      </div>
    </div>
  </fieldset>

  <!-- ANCHOR Submit form-->
  <div class="form-group row col-md-12">
    <div class="col-sm-12 text-right">
      <button type="submit" *ngIf="!this.changes" (click)="submitForm()" class="btn btn-info ml-auto ">Neue Webseite
        erstellen</button>
      <button type="submit" *ngIf="this.changes" (click)="submitForm()" class="btn btn-info ml-auto ">Webseite
        updaten</button>
    </div>
  </div>
</form>

<!-- !SECTION -->
