<h1 class="mb-4 mt-2">Übersicht</h1>

<!-- Search form -->
<div class="row mr-2">
  <div class="col-md-7 form-group">
    <label class="font-weight-light">
      Suche:
    </label>
    <input type="text" class="form-control" placeholder="Suche" [(ngModel)]="term">
  </div>
  <div class="col-md-5 dropdown">
    <label class="font-weight-light">
      Sortierung:
    </label>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-info active">
        <input type="radio" name="options" id="option1" autocomplete="off" (click)="changeSort('name')" checked> Name
      </label>
      <label class="btn btn-info">
        <input type="radio" name="options" id="option2" autocomplete="off" (click)="changeSort('ranking+')"> Ranking
        <span class="arrow">&uarr;</span>
      </label>
      <label class="btn btn-info">
        <input type="radio" name="options" id="option3" autocomplete="off" (click)="changeSort('ranking-')"> Ranking
        <span class="arrow">&darr;</span>
      </label>
    </div>
  </div>
</div>

<div *ngIf="websites" class="mt-4">

  <mat-accordion class="example-headers-align">
    <mat-expansion-panel *ngFor="let w of websites| filter:term | sortBy:sortField; let i = index;"
      [expanded]="step === i" (opened)="setStep(i)">
      <mat-expansion-panel-header>
        <mat-panel-title class="mt-1 col-md-3 ml-1">
          {{i + 1}}. {{ w.name }}
        </mat-panel-title>
        <mat-panel-description>
          <a [href]="w.home_url" class="url" target="_blank">{{w.home_url}}</a>
          <span class="ranking mr-2" [style.background-color]="changeColor(w.ranking)">{{isNull(w.ranking)}}</span>
        </mat-panel-description>

      </mat-expansion-panel-header>

      <at-website-details [websiteId]=w.id>

      </at-website-details>

      <mat-action-row class="mat-act">


        <at-category [categoryId]=w.category_id>

        </at-category>
        <button type="button" class="btn btn-outline-dark btn-sm ml-auto mr-3">Bearbeiten</button>
      </mat-action-row>
    </mat-expansion-panel>

  </mat-accordion>

</div>
