<h1 class="mb-4 mt-2">Übersicht</h1>

<!-- SECTION Header -->
<!-- ANCHOR searchForm -->
<div class="row">
  <div class="col-md-4 form-group">
    <label class="font-weight-light">
      Suche:
    </label>
    <input type="text" class="form-control" placeholder="Suche" [(ngModel)]="term">
  </div>

  <!-- ANCHOR filterButton -->
  <div class="col-md-2 dropdown">
    <label class="font-weight-light">
      Filter:
    </label>
    <div class="btn-group ml-auto row w-100">
      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{filterfield}}
      </button>
      <div class="dropdown-menu" *ngFor="let fc of filterarray">
        <a class="dropdown-item" [(ngModel)]="filterfield" href="#">{{fc.name}}</a>
      </div>
    </div>
  </div>

  <!-- ANCHOR sortingButton -->
  <div class="col-md-6 dropdown">
    <label class="font-weight-light">
      Sortierung:
    </label>
    <div class="btn-group btn-group-toggle ml-auto w-100 row" data-toggle="buttons">
      <label class="btn btn-info col-auto">
        <input type="radio" name="options" id="option3" autocomplete="off" (click)="changeSort('ranking-')"> Ranking
        <span class="arrow">&darr;</span>
      </label>
      <label class="btn btn-info active col-auto">
        <input type="radio" name="options" id="option1" autocomplete="off" (click)="changeSort('name')" checked> Name
      </label>
      <label class="btn btn-info col-auto">
        <input type="radio" name="options" id="option2" autocomplete="off" (click)="changeSort('ranking+')"> Ranking
        <span class="arrow">&uarr;</span>
      </label>
    </div>
  </div>
</div>
<!-- !SECTION Header -->

<!-- SECTION website list -->
<div *ngIf="websites" class="mt-4">

  <!-- ANCHOR website accordion -->
  <mat-accordion class="example-headers-align">

    <!-- NOTE all websites and possible search term and sorting -->
    <mat-expansion-panel *ngFor="let w of websites| filter:term | sortBy:sortField | filter:filterfield; let i = index;"
      [expanded]="step === i" (opened)="setStep(i)">
      <mat-expansion-panel-header class="row">
        <mat-panel-title class="mt-1 col-md-3 ml-1">
          {{i + 1}}. {{ w.name }}
        </mat-panel-title>
        <mat-panel-description class="col-md-9">
          <a [href]="w.home_url" class="url" target="_blank">{{w.home_url}}</a>
          <span class="ranking mr-2" [style.background-color]="changeColor(w.ranking)">{{isNull(w.ranking)}}</span>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <!-- ANCHOR websiteDetails -->
      <at-website-details [websiteId]=w.id>
      </at-website-details>

      <mat-action-row class="mat-act">

        <!-- ANCHOR category -->
        <at-category [categoryId]=w.category_id>
        </at-category>

                <!-- ANCHOR editing button -->
        <button type="button" class="btn btn-outline-dark btn-sm ml-auto mr-3"
          (click)="sendWebsite(w.id)">Bearbeiten</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<!-- !SECTION Websitelist -->
