<h1>A11Y-Tool</h1>

<!-- Search form -->
<div class="form-group">
        <input type="text" class="form-control" placeholder="Suche" [(ngModel)]="term">
    </div>

<div *ngIf="websites" class="mt-4">

  <mat-accordion class="example-headers-align">
    <mat-expansion-panel *ngFor="let w of websites| filter:term; let i = index;" [expanded]="step === i" (opened)="setStep(i)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{i + 1}}. {{ w.name }}
        </mat-panel-title>
        <mat-panel-description>
          <a [href]="w.home_url" target="_blank">{{w.home_url}}</a>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <at-website-details [websiteId]=w.id>

      </at-website-details>
      <mat-action-row class="mat-act">
        <at-category [categoryId]=w.category_id>

        </at-category>

      </mat-action-row>
    </mat-expansion-panel>

  </mat-accordion>

</div>

