.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.form{
  width: 100%;
}
.ranking{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 12px;
  color: #fff;
  line-height: 30px;
  text-align: center;
  background: rgb(219, 215, 0)
}

.url{
  white-space: nowrap;
  width: 85%;
  overflow: hidden;
  text-overflow: ellipsis;
}
